<!DOCTYPE html>
<html>
<head>

	<title>{{page.title}}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	
</head>
<body>

	<!--Header/Banner Image-->
	<div id="bannerIMG">
		<img src=""/>
	</div>
	
	<div id="container">
		<!--Navbar-->
		<div id="nav">
			<ul>
				<li><a href="index.html">Index</a></li>
				<li><a href="soften.html">Software Engineering</a></li>
				<li><a href="embedded.html">Embedded Systems</a></li>
				<li><a href="Web.html">Web</a></li>
				<li><a href="https://jakef1op.github.io/blog/">Blog</a></li>
			</ul>
		</div>
		
		<div id="content">
    
    			{{content}}
    
		</div>
    
<footer>
</footer>
	
</body>

</html>
